---
---

/*!

  Should I Use An Accessibility Overlay? (No.)

  Author: Michael "Spell" Spellacy, Email: {{site.owner-email}}, Twitter: @spellacy, GitHub: michaelspellacy

*/

*, *::before, *::after {
box-sizing: inherit;
}

a {
color: #B02745;

  &:focus, &:hover {
  text-decoration: none;
  }

  &[target="_blank"] {
  background: transparent url(data:image/gif;base64,R0lGODlhCgAKAJECAP///5mZmQAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==)center right no-repeat;
  padding-right: 14px;

    &:focus, &:hover {
    background: url(data:image/gif;base64,R0lGODlhCgAKAJECAP///2eIpAAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==)center right no-repeat;
    }

  }

}

body {
background-color: #eee;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 100%;
font-style: normal;
font-variant: normal;
line-height: 1.7;
margin: 0;
padding: 1em;
}

h1 {
font-size: 2.8rem;
margin-top: 0;
}

h1, h2, h3 {
line-height: 1.4;
}

h2 {
margin-top: 2em;
}

hr {
border: 0;
border-bottom: 1px dashed #666;
margin: 3em 0 2em;
}

html {
box-sizing: border-box;

  @media (prefers-reduced-motion: no-preference) {

    scroll-behavior: smooth;

  }

}

img {
border-radius: 10px;
border: 2px #000 solid;
display: block;
max-width: 100%;
width: 100%;
}

li:not(:last-child) {
margin-bottom: 1em;
}

#page {
font-size: 1.7rem;
}

#contentinfo {
font-size: 1.3rem;
padding: 0 1em;
text-align: center;

  a {
  color: #000;
  }

}

#banner, #content, #contentinfo div {
margin: 0 auto;
max-width: 860px;
}

.articles {

  span {
  display: block;
  font-weight: bold;
  }

}

.heading {

  a {
  color: #000;
  text-decoration: none;

    &:focus, &:hover {
    text-decoration: underline;
    }

  }

}
