---
---

/*!

  Should I Use An Accessibility Overlay?

  Author: Michael "Spell" Spellacy, Email: {{site.owner-email}}, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

*, *::before, *::after {
box-sizing: inherit;
}

a {

  &.external {
  background: transparent url(data:image/gif;base64,R0lGODlhCgAKAJECAP///5mZmQAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==)center right no-repeat;
  padding-right: 14px;

    &:focus, &:hover {
    background: url(data:image/gif;base64,R0lGODlhCgAKAJECAP///2eIpAAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==)center right no-repeat;
    }

  }

}

body {
font-family: Tahoma,Verdana, Segoe, sans-serif;
font-size: 100%;
font-style: normal;
font-variant: normal;
line-height: 1.6;
margin: 0;
padding: 1em;
}

footer {
background-color: #DEAEAE;
border-radius: 10px;
border: 1px #000 solid;
padding: 0 1em;
margin-top: 1em;

  a {
  color: #000;
  }

}

h1 {
font-size: 2.8rem;
line-height: 1.4;
margin-top: 0;
}

hr {
border: 0;
border-bottom: 1px dashed #666;
margin: 3em 0 2em;
}

html {
box-sizing: border-box;

  @media (prefers-reduced-motion: no-preference) {

    scroll-behavior: smooth;

  }

}

img {
border-radius: 10px;
border: 2px #000 solid;
display: block;
max-width: 100%;
width: 100%;
}

li:not(:last-child) {
margin-bottom: 1em;
}

#contribute {
background-color: #eee;
border-radius: 10px;
border: 1px #000 solid;
font-size: 1.3rem;
padding: 0 1em;
}

#page {
font-size: 1.6rem;
margin: 0 auto;
max-width: 860px;
}
