<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">{% if page.noindex %}
    <meta content="noindex, nofollow" name="robots">{% endif %}
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@Spellacy" name="twitter:creator">
    <meta content="http://shouldiuseanaccessibilityoverlay.com/img/preview.jpg" name="twitter:image">
    <meta content="http://shouldiuseanaccessibilityoverlay.com/img/preview.jpg" property="og:image">
    <meta content="Bugs Bunny says NO. He doesn't look very impressed." property="og:image:alt">
    <meta content="Should I Use An Accessibility Overlay?" property="og:title">
    <meta content="Should I Use An Accessibility Overlay?" name="twitter:title">
    <meta content="Just enough information for stakeholders on why accessibility overlays should be avoided on your website." name="description">
    <meta content="Just enough information for stakeholders on why accessibility overlays should be avoided on your website." property="og:description">
    <meta content="Just enough information for stakeholders on why accessibility overlays should be avoided on your website." name="twitter:description">
    <link href="/favicon.png" rel="icon">
    <link href="/css/init.css" rel="stylesheet">
    <title>Should I Use An Accessibility Overlay?</title>
</head>

<body id="a11y-overlay-{{ page.path | replace:'.html',''|  replace:'.md','' | replace:'_','' | replace: '/', '-'}}">

  <div id="page">

    <header id="banner">

      <h1>Should I Use An Accessibility Overlay?</h1>

    </header>

    <main id="content">

      {{ content }}

    </main>

    <aside id="contribute">

      <div>

      <h3>Contribute</h3>

        <p>If you wish to contribute, <a href="https://guides.github.com/activities/forking/">fork</a> this <a href="{{ site.repo }}">project</a>, make some changes, and <a href="https://guides.github.com/activities/forking/#making-a-pull-request">create a pull request</a>. New to GitHub? <a href="https://guides.github.com/activities/hello-world/">Learn the basics with the guide</a> and <a href="https://guides.github.com/introduction/flow/">learn the GitHub flow</a>.</p>

        <p>Or you can can just make a request to fix or add something by <a href="{{ site.repo }}/issues">opening an issue</a>. There is also <a href="mailto:{{ site.owner-email }}">email</a>.</p>

      </div>

    </aside>

    <footer id="contentinfo">

      <div>

        <p><small>The content of this site is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>. Created by <a href="https://michaelspellacy.com">Michael Spellacy</a>, "Greedy Accessibility Consultant".</small></p>

      </div>

    </footer>

  </div>

</body>
</html>
