<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">
    <meta content="Just enough information for stakeholders seeking advice on web accessibility overlay procurement." property="og:description">
    <meta content="https://shouldiuseanaccessibilityoverlay.com/img/preview.jpg" property="og:image">
    <meta content="Bugs Bunny says NO. He doesn't look very impressed." property="og:image:alt">
    <meta content="Should I Use An Accessibility Overlay?" property="og:title">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@Spellacy" name="twitter:creator">
    <meta content="Just enough information for stakeholders seeking advice on web accessibility overlay procurement." name="twitter:description">
    <meta content="https://shouldiuseanaccessibilityoverlay.com/img/preview.jpg" name="twitter:image">
    <meta content="Bugs Bunny says NO. He doesn't look very impressed." name="twitter:image:alt">
    <meta content="Should I Use An Accessibility Overlay?" name="twitter:title">
    <meta content="Just enough information for stakeholders seeking advice on web accessibility overlay procurement." name="description">
    <link href="/favicon.png" rel="icon">
    <link href="/css/init.css" rel="stylesheet">
    <title>Should I Use An Accessibility Overlay?</title>
</head>

<body id="a11y-overlay-{{ page.path | replace:'.html',''|  replace:'.md','' | replace:'_','' | replace: '/', '-'}}">

  <div id="page">

    <header id="banner">

      <h1 itemprop="headline">Should I Use An Accessibility Overlay?</h1>

    </header>

    <main id="content">

      <article itemprop="articleBody">

        {{ content }}

      </article>

      {% if page.url == "/" %}

      <p class="pubdate">Published: <time datetime="2021-02-18 16:02:33" itemprop="datePublished" content="2021-02-18">Thursday, February 18, 2021</time></p>

      {% endif %}

    </main>

    {% if page.url == "/" %}

    <aside id="complementary">

      <section id="smart-people">

        <h2 class="heading">Smart People</h2>

        <p>A collection of terrific articles and podcasts that take a deep dive into the concerns and pitfalls surrounding accessibility overlays.</p>

        <ul class="articles">
          <li><a href="https://adrianroselli.com/2022/09/accessibility-at-the-edge-w3c-cg-is-an-overlay-smoke-screen.html">"Accessibility at the Edge" W3C CG Is an Overlay Smoke Screen <span>Adrian Roselli, September 1, 2022</span></a></li>
          <li><a href="https://www.nytimes.com/2022/07/13/technology/ai-web-accessibility.html">For Blind Internet Users, the Fix Can Be Worse Than the Flaws <span>Amanda Morris, New York Times, July 13, 2022</span></a></li>
          <li><a href="https://convergeaccessibility.com/2022/05/09/a-different-view-into-accessibility-overlays/">A Different View into Accessibility Overlays <span>Jeff Singleton, May 9, 2022</span></a></li>
          <li><a href="https://adrianroselli.com/2022/03/faciliti-will-get-you-sued.html">#FACILiti Will Get You Sued <span>Adrian Roselli, March 9, 2022</span></a></li>
          <li><a href="https://www.lflegal.com/2021/11/overlay-legal-update/">Legal Update: Accessibility Overlay Edition <span>Lainey Feingold, November 3, 2021</span></a></li>
          <li><a href="https://sheribyrnehaber.medium.com/important-settlement-in-an-ada-lawsuit-involving-an-accessibility-overlay-748a82850249">ADA lawsuit settlement involving an accessibility overlay <span>Sheri Byrne-Haber, CPACC, October 18, 2021</span></a></li>
          <li><a href="https://adrianroselli.com/2021/09/userway-will-get-you-sued.html">#UserWay Will Get You Sued <span>Adrian Roselli, September 13, 2021</span></a></li>
          <li><a href="https://tink.uk/accessibe-and-data-protection/">AccessiBe and data protection? <span>Léonie Watson, July 27, 2021</span></a></li>
          <li><a href="https://ericwbailey.design/writing/accessibe-and-the-false-david-vs-goliath-narrative/">accessiBe and the false David vs. Goliath narrative <span>Eric Bailey, July 22, 2021</span></a></li>
          <li><a href="https://uxdesign.cc/theres-no-such-thing-as-fully-automated-web-accessibility-260d6f4632a8">There's no such thing as fully automated web accessibility <span>Anna E. Cook, July 14, 2021</span></a></li>
          <li><a href="https://nfb.org/about-us/press-room/national-convention-sponsorship-statement-regarding-accessibe">National Convention Sponsorship Statement Regarding accessiBe <span>Chris Danielsen, Director of Public Relations, National Federation of the Blind, June 24, 2021</span></a></li>
          <li><a href="https://www.bemyeyes.com/podcasts/adrian-and-the-overlays">Adrian and the Overlays <span>13 Letters, April 1, 2021</span></a></li>
          <li><a href="https://overlayfactsheet.com/">Overlay Fact Sheet, a collective statement from global accessibility practitioners, <span>March 11, 2021</span></a></li>
          <li><a href="https://www.a11yproject.com/posts/2021-03-08-should-i-use-an-accessibility-overlay/">Should I use an accessibility overlay? <span>The A11Y Project Team, March 8, 2021</span></a></li>
          <!-- li><a href="https://blindjournalist.wordpress.com/2021/03/04/why-i-blocked-accessibe/">Why I blocked #AccessiBe <span>Robert Kingett, March 4, 2021</span></a></li -->
          <li><a href="https://www.propellermediaworks.com/blog/avoid-web-accessibility-overlay-toolbars/">Overlay Accessibility Solutions Fail ADA Website Compliance <span>Propeller Media Works, October 24, 2020</span></a></li>
          <li><a href="https://www.youtube.com/watch?v=e-3xlUarxRQ&ab_channel=EricEggert">5 False Claims 1-Line "AI" Accessibility Script Vendors Make (Video) <span>Eric Eggert, October 20, 2020</span></a></li>
          <li><a href="https://creativevisionwebconsulting.com/2020/08/one-line-of-code-will-not-prevent-an-ada-accessibility-lawsuit/">One Line of Code Will Not Prevent an ADA Accessibility Lawsuit <span>Kim Krause Berg, CPACC Accessibility & UX, August 25, 2020</span></a></li>
          <li><a href="https://www.lflegal.com/2020/08/quick-fix/">Honor the ADA: Avoid Web Accessibility Quick-Fix Overlays <span>Lainey Feingold, August 10, 2020</span></a></li>
          <li><a href="https://adrianroselli.com/2020/06/accessibe-will-get-you-sued.html">#accessiBe Will Get You Sued <span>Adrian Roselli, June 29, 2020</span></a></li>
          <li><a href="https://developer.paciellogroup.com/blog/2020/05/bolt-on-accessibility-5-gears-in-reverse/">Bolt-on Accessibility - 5 gears in reverse <span>Steve Faulkner, May 13, 2020</span></a></li>
          <li><a href="https://www.lalutineduweb.fr/en/web-accessibility-overlays-lies-gum-balls/">Web accessibility overlay tools: lies and gum balls by <span>Julie Moynat, April 11, 2020</span></a></li>
          <li><a href="https://creative-boost.com/overlays-and-plugins-arent-the-answer-to-accessibility/">Overlays and Plugins Aren't the Answer to Accessibility <span>Colleen Gratzer, April 8, 2020</span></a></li>
          <li><a href="https://carneydevelopit.wordpress.com/2020/03/03/7-reasons-why-accessibility-overlays-arent-a-magical-solution/">7 Reasons Why Accessibility Overlays Aren't a Magical Solution <span>Amy Carney, March 3, 2020</span></a></li>
          <li><a href="https://sheribyrnehaber.com/overlays-are-not-the-solution/">Overlays are not the solution to your accessibility problem <span>Sheri Byrne-Haber, CPACC, January 14, 2020</span></a></li>
          <li><a href="https://blog.tenon.io/web-accessibility-overlays-dont-work">Web Accessibility Overlays Don't Work <span>Karl Groves, February 14, 2019</span></a></li>
        </ul>

      </section>

      <section id="a11y-talks">

        <h2 class="heading">Shop Talk</h2>

        <p>Check out these videos and presentations by accessibility professionals and the people in the disabled community.</p>

        <ul class="articles">
          <li><a href="https://www.youtube.com/watch?v=RDkqJaBwgKU">

            <img alt="" loading="lazy" src="https://img.youtube.com/vi/RDkqJaBwgKU/maxresdefault.jpg">

            Overlays Underwhelm

            <span>Adrian Roselli, A11yNYC - March 1 2022</span>

          </a></li>
          <li><a href="https://www.youtube.com/watch?v=k6VmSjEIiks&ab_channel=AccessibilityTalks">

            <img alt="" loading="lazy" src="https://img.youtube.com/vi/k6VmSjEIiks/maxresdefault.jpg">

            The Fatal Flaw of Overlays

            <span>Shell Little, A11yTalks - July 28 2021</span>

          </a></li>
          <li><a href="https://www.youtube.com/watch?v=R12Z1Sp-u4U&ab_channel=HabenGirma">

            <img alt="" loading="lazy" src="https://img.youtube.com/vi/R12Z1Sp-u4U/maxresdefault.jpg">

            Avoid AccessiBe & Other Companies Claiming Quick & Easy AI Accessibility

            <span>Haben Girma, May 21 2021</span>

          </a></li>
        </ul>

      </section>

      <section id="tools">

        <h2 class="heading">Tools</h2>

        <p>Is an overlay interfering with your web experience? These tools will help you to bypass them.</p>

        <ul class="articles">
          <li><a href="https://sclower.github.io/accessibegone/">AccessiBe Gone: Instructions for blocking AccessiBe and similar intrusive overlays <span>Stephen Clower</span></a></li>
          <li><a href="https://www.accessibyebye.org/">AccessiByeBye - Chrome Plug-in <span>Pneuma Solutions</span></a></li>
        </ul>

      </section>

      <section id="news">

        <h2 class="heading">In The News</h2>

        <p>Stay informed with events surrounding overlays.</p>

        <ul class="articles">
          <li><a href="https://www.numerama.com/politique/759804-faciliti-la-solution-pour-linclusion-en-ligne-qui-refuse-la-critique.html" hreflang="fr"><cite lang="fr">FACIL’iti, la solution pour l’inclusion en ligne qui refuse la critique?</cite> <span>Hélène Molinari, Numerama, December 8, 2021</span></a></li>
          <li><a href="https://www.wired.com/story/company-tapped-ai-website-landed-court/">This Company Tapped AI for Its Website—and Landed in Court <span>Tom Simonite, WIRED, November 11, 2021</span></a></li>
          <li><a href="https://www.nbcnews.com/tech/innovation/blind-people-advocates-slam-company-claiming-make-websites-ada-compliant-n1266720">Blind people, advocates slam company claiming to make websites ADA compliant <span>April Glaser, NBC News, May 9, 2021</span></a></li>
          <li><a href="https://www.vice.com/en/article/m7az74/people-with-disabilities-say-this-ai-tool-is-making-the-web-worse-for-them">People With Disabilities Say This AI Tool Is Making the Web Worse for Them <span>Todd Feathers, March 17, 2021</span></a></li>
          <li><a href="https://wptavern.com/wordpress-org-removes-fake-reviews-for-acessibe-plugin">WordPress.org Removes Fake Reviews for AccessiBe Plugin <span>Sarah Gooding, February 18, 2021</span></a></li>
          <li><a href="https://www.joedolson.com/2021/02/accessibe-the-fake-wordpress-plug-in-reviews/">AccessiBe & the fake WordPress plug-in reviews <span>Joe Dolson, February 17, 2021</span></a></li>
        </ul>

      </section>

    </aside>

    {% endif %}

    <footer id="contentinfo">

      <address>

        <p>
          
          <small>
            
            The content of this site is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>. <br>

            Created by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="https://michaelspellacy.com" itemprop="url" rel="me"><span itemprop="name">Michael Spellacy</span></a></span>, "Greedy Accessibility Consultant". <a href="/contribute/">Contributions</a> to this project are welcome! <br>

            <a rel="me" href="https://a11y.info/@spellacy">Follow me on Mastodon</a>
        
        </small>
        
        
        </p>

      </address>

    </footer>

  </div>

</body>
</html>
